
.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}


.project-card a{
  text-decoration: none;
}



.project-card img {
  object-fit: cover;
  height: 200px;
}


.project-glass-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  overflow: hidden;
  transition: background 0.3s ease;
}

.project-img {
  border-radius: 12px;
  transition: transform 0.3s ease;
}
.project-img:hover {
  transform: scale(1.02);
}
.badge {
  font-size: 0.75rem;
  padding: 0.5em 0.8em;
  background: rgba(0, 128, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  color: #fff;
}


